.google-logo {
    display:block;
    block-size: 100px;
    width: 50%;
    left: 25%;
    border: 1px solid red;
    text-align: center;
    position:fixed;
    top: 10em;
}

.center {
    display:block;
    text-align: center;
    
}

form {
    display:inline-block;
    
    
}
.searchbar[type=text]{
    display:block;
    block-size:35px;
    box-sizing: border-box;
    border: 1px solid red;
    position: relative;
    width:500px;
    top: 18em;    
}




.btn {
    display:inline-block;
    font-size: 16px;
    cursor:pointer;
    border: 1px solid red;
    position:relative;
    top: 17em;
    block-size: 30px;
    width: 16vw;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: clip;
}


.nav {
    width:100%;
    top: 16px;
    height: 80px;
    margin: 0;
    color:#222;
    font-family:arial, sans-serif;
    font-size:13px;
    position:fixed;
    top: 0;
    border: 1px solid red;
}

footer {
    width:100%;
    bottom:0px;
    height: 60px;
    margin: 0;
    color:#222;
    font-family:arial, sans-serif;
    font-size:13px;
    position:fixed;
    border: 1px solid red;
    background-color: lightgray;
    color:rgb(43, 50, 56);
}

.box1 {
    display:inline-block; 
    padding: 10px;
    position:relative;
    top: 10px;
    border: 1px solid red;
    
}

.box2 {
    display:block;
    float:right;
    padding: 10px;
    position: relative;
    top: 10px;
    right:10px;
    border: 1px solid red;

}

.box3{
    display:inline-block;
    padding: 10px;
    position:relative;
    border: 1px solid red;
    top:25px;
}

.box4 {
    display:block;
    padding: 10px;
    float: right;
    position:relative;
    border: 1px solid red;
    top:25px;
    right:10px;
}