body {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin:0px;
    padding:0px;
}

.google-logo {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    position:relative;
    top: 10em;
}

.center {
    display:block;
    text-align: center;
}

form {
    display:inline-block;
}
.searchbar[type=text]{
    display:block;
    box-sizing: border-box;
    padding-left: 40px;
    border-radius: 24px;
    height: 45px;
    position: relative;
    width:585px;
    top: 13.5em;    
}

.searchbar{
    display:block;
    height: 30px;
    position: relative;
    width:30px;
    top:8.8em;
}

.searchbar:hover{
    box-shadow:0px 1px 3px 1px rgb(218, 218, 218);
}
.magnify{
    display:inline-block;
    right:15.5em;
    border-radius: 24px;
    height: 28px;
    position: relative;
    width:30px;
    top:8.9em;
}

.mic{
    display:inline-block;
    left:15em;
    border-radius: 24px;
    height: 28px;
    position: relative;
    width:30px;
    top:8.9em;
}
.btn {
    display:inline-block;
    font-size: 14px;
    background-color:#f8f9fa;
    position:relative;
    top: 13em;
    block-size: 32px;
    width: 13.5vw;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: clip;
} 

.underline:hover{
    text-decoration: underline;
    cursor:pointer;
}

.btn:hover{
    box-shadow:0px 1px 3px 1px rgb(218, 218, 218);
}

.nav {
    width:100%;
    height: 60px;
    color:#222;
    font-family:arial, sans-serif;
    font-size:14px;
    position:relative;
    top: 10px;
}

footer {
    width:100%;
    bottom:0px;
    height: 50px;
    color:#5f6368;
    font-family:arial, sans-serif;
    font-size:14px;
    position:fixed;
    background:#f2f2f2;
    
}

.box1 {
    display:inline-block; 
    padding: 10px;
    position:relative;
    left: 10px;
    
}

.box2 {
    display:block;
    float:right;
    padding: 10px;
    position: relative;
    right:10px;

}

.sign{
    background-color: rgb(69,131,236);
    color:white;
    font-weight:bold;
}
.logo{
    display:flex;
    float:right;
    align-items:center;
    vertical-align: middle;
    margin: 0px;
    padding: 10px;
    right:10px;
    text-align: center;
    position: relative;
}

.box3{
    display:inline-block;
    padding: 10px;
    position:relative;
    top:5px;
    left:2em;
    
}

.box4 {
    display:block;
    padding: 10px;
    float: right;
    position:relative;
    top:5px;
    right: 2em;
    
}